/*GLOBAL*/
body{
	padding: 0;
	margin: 0;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 20px;
	color: #636363;
	line-height: 1.5;
	background-color: #C9C9C9;
}

h3{
	color: #2C4E89;
}

h4{
	color: #000000;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/*HEADER*/
header{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: #FFFFFF;
	padding-top: 30px;
	min-height: 400px;
	border-bottom: #0bdead 5px solid;
}

header #logo{
	text-align: center;
}

header #welcome{
	margin-bottom: 60px;
}

header #welcome h1{
	font-size: 40px;
	margin-top: 20px;
	font-weight: bold;
	text-align: center;
}

header #cv_website{
	color: #0bdead;
}

header #navigation .nav_box{
	float: left;
	width: 20%;
	margin: 20px;
	text-align: center;
}

header #navigation .nav_box a:hover{
	opacity: 0.5;
	transform: scale(1.1);
}

header #navigation .nav_box a{
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	color: #ffffff;
}

header #navigation .nav_box img{
	width: 50px;
}

header #navigation .nav_box p{
	margin: 0;
	font-size: 13px;
	text-transform: uppercase;
	padding-top: 15px;
}

/*ABOUT*/
#about{
	background: #ffffff;
}

#about h1{
	font-size: 40px;
	color: #2C4E89;
}

#about .about_box{
	float: left;
	width: 50%;
	margin: 10px;
	text-align: center;
}

#about .about_box #social{
	float: left;
	width: 100%;
	margin: 10px;
}

#about .about_box #social img{
	width: 20px;
	margin: 15px;
}

#about .about_box #social a{
	text-align: center;
	width: 100%;
}

#about .about_box #social img:hover{
	opacity: 0.5;
	transform: scale(1.3);
}

#about #about_photo{
	float: right;
	margin-top: 50px;
	margin-right: 20px;
}

#about #about_photo img{
	width: 300px;
	border-radius: 50%;
}

/*EDU_WORK*/
#edu_work *{
	box-sizing: border-box;
}

#edu_work{
	position: relative;
	margin: 0 auto;
}

#edu_work h1{
	font-size: 40px;
	color: #2C4E89;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

#edu_work::after{
	content: "";
    position: absolute;
    width: 6px;
    background-color: #2C4E89;
    top: 145px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline{
	padding: 10px 10px;
	margin: 30px 0px;
    position: relative;
    width: 50%;
}

.timeline::after{
	content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #0bdead;
    top: 0;
    border-radius: 50%;
    z-index: 1;
}

.left{
	left: 0;
}

.right{
	left: 50%;
}

.right::after{
	left: -16px;
}

.content{
	text-align: center;
	padding: 10px 10px;
    background-color: #ffffff;
    position: relative;
    border-radius: 6px;
}

.content h3,
.content h4{
	font-size: 18px;
	margin: 10px;
}

.content p{
	font-size: 16px;
}

/*CODING*/
#coding{
	background: #ffffff;
}

#coding #coding_txt{
	text-align: center;
}

#coding h1{
	font-size: 40px;
	color: #2C4E89;
}

#coding #technologies .tech_box{
	float: left;
	width: 20%;
	padding: 20px;
	text-align: center;
}

#coding #technologies .tech_box img{
	width: 70px;
}

#coding #technologies .tech_box p{
	font-size: 16px;
}

#coding #technologies .tech_box .line{
	height: 2px;
	width: 50%;
	margin: 0 25%;
	background: #2C4E89;
}

/*HOBBY*/
#hobby h1{
	font-size: 40px;
	color: #2C4E89;
	text-align: center;
}

#hobby .hobby_box{
	float: left;
	width: 30%;
	padding: 10px;
	text-align: center;
}

#hobby .hobby_box img{
	width: 70px;
}

#hobby .hobby_box p{
	font-size: 16px;
}

#hobby .hobby_box .line{
	height: 2px;
	width: 50%;
	margin: 0 25%;
	background: #2C4E89;
}

/*FOOTER*/
footer{
	margin-top: 30px;
	background: #000000;
	border-top: #0bdead 5px solid;
}

footer p{
	font-size: 12px;
	margin: 0;
	color: #C9C9C9;
}

footer .footer_div{
	float: left;
	width: 30%;
	margin: 10px;
	text-align: center;
}

footer #footer_copyrights{
	margin-top: 25px;
}

footer #footer_copyrights span{
	color: #ffffff;
}

footer .footer_div #minilogo{
	width: 90px;
	opacity: 0.4;
}

footer .footer_div #minilogo:hover{
	opacity: 1;
	transform: scale(1.1);
}

footer #footer_social{
	float: left;
	width: 30%;
	margin-top: 20px;
	text-align: center;
}

footer #footer_social img{
	width: 20px;
	margin: 15px;
}

footer #footer_social a{
	text-align: center;
}

footer #footer_social img:hover{
	opacity: 0.5;
	transform: scale(1.3);
}

/*MEDIA QUERIES*/
@media (max-width: 768px){
	header #logo,
	header #welcome,
	#about .about_box,
	#coding #technologies .tech_box,
	#hobby .hobby_box,
	footer .footer_div{
		float: none;
		text-align: center;
		width: 100%;
		padding: 0;
	}
	
	header #logo img{
		width: 150px;
	}
	
	header #welcome h1,
	#about #about_txt h1,
	#edu_work h1,
	#coding #coding_txt h1,
	#hobby h1{
		font-size: 25px;
	}
	
	header #cv_website{
		display: block;
	}
	
	header #navigation{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	
	header #navigation .nav_box{
		display: inline-block;
		float: none;
		margin: 5px;
	}
	
	header #navigation .nav_box a{
		text-align: center;
	}
	
	header #navigation .nav_box img{
		width: 30px;
	}
	
	header #navigation .nav_box p{
		display: none;
	}
	
	#about .about_box{
		margin: 0;
	}
	
	#about #about_txt p,
	#coding #coding_txt p{
		font-size: 16px;
	}
	
	#about #about_photo,
	#about #about_txt #social{
		float: none;
		text-align: center;
		display: block;
		margin: 0;
	}
	
	#about #about_photo img{
		width: 200px;
		margin-bottom: 20px;
	}
	
	#edu_work::after{
		left: 18.1%;
	}
	
	#edu_work .content{
		width: 80%;
		padding: 20px;
		margin: 0;
	}
	
	.left::after, .right::after {
		left: -15px;
	}
	
	.right,
	.left{
		left: 10%;
		width: 100%;
	}
	
	#coding #technologies .tech_box h4,
	#coding #technologies .tech_box p,
	#hobby .hobby_box h4,
	#hobby .hobby_box p{
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	#coding #technologies .tech_box h4,
	#hobby .hobby_box h4{
		font-size: 18;
	}
	
	#coding #technologies .tech_box,
	#hobby .hobby_box{
		margin-bottom: 20px;
	}
	
	footer .footer_div{
		margin: 0;
	}
	
	footer #footer_social{
		float: none;
		width: 100%;
		margin: 0;
		text-align: center;
	}
}

@media (max-width: 1000px){
	
}









/* commit -m 'more css styling' */




/*MEDIA QUERIES*/
/*
@media only screen and (max-width: 780px) and (min-height: 650px) {
	#navigation .nav_icon{
		width: 40px;
  }
	#welcome h1{
		font-size: 50px;
  }
}

@media only screen and (max-width: 650px) and (min-height: 650px) {
	#navigation p{
		display: none;
  }
	#welcome h1{
		font-size: 45px;
  }
}

@media only screen and (max-width: 430px) and (max-height: 650px) {
  #navigation .nav_icon{
    width: 30px;
  }
  #welcome h1{
	font-size: 35px;
  }
}

@media only screen and (max-height: 800px) and (max-width: 900px) {
  #navigation .nav_icon{
    width: 50px;
	margin-top: 20px;
  }
  #welcome h1{
	font-size: 50px;
	margin-top: 0;
  }
}

@media only screen and (max-height: 650px) and (max-width: 900px) {
  #navigation .nav_icon{
    width: 50px;
	margin-top: 20px;
  }
  #welcome h1{
	font-size: 50px;
	margin-top: 0;
  }
}
*/

/*logo colors: blue: #4c96d7, grey: #b1b1b1 seledyn: #0bdead
linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.2))
18,52,81*/