/*GLOBAL*/
html {
    scroll-behavior: smooth;
}


body{
	padding: 0;
	margin: 0;
	font-family: Calibri, Helvetica, sans-serif;
	font-size: 20px;
	color: #636363;
	line-height: 1.5;
	background-color: #C9C9C9;
}

h3{
	color: #2C4E89;
}

h4{
	color: #000000;
}

.container{
	width: 80%;
	margin: auto;
	overflow: hidden;
}

/*HEADER*/
header{
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	color: #FFFFFF;
	padding-top: 30px;
	min-height: 400px;
	border-bottom: #0bdead 5px solid;
}

header #logo{
	text-align: center;
}

header #welcome{
	margin-bottom: 60px;
}

header #welcome h1{
	font-size: 40px;
	margin-top: 20px;
	font-weight: bold;
	text-align: center;
}

header #cv_website{
	color: #0bdead;
}

header #navigation .nav_box{
	float: left;
	width: 21%;
	margin: 2%;
	text-align: center;
}

header #navigation .nav_box a:hover{
	opacity: 0.5;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

header #navigation .nav_box a:focus{
	-webkit-transform: translateY(3px);
	-moz-transform: translateY(3px);
}

header #navigation .nav_box a{
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;
	color: #ffffff;
}

header #navigation .nav_box img{
	width: 50px;
}

header #navigation .nav_box p{
	margin: 0;
	font-size: 13px;
	text-transform: uppercase;
	padding-top: 15px;
}

/*ABOUT*/
#about{
	background: #ffffff;
}

#about h1{
	font-size: 40px;
	color: #2C4E89;
}

#about .about_box{
	float: left;
	width: 50%;
	margin: 1%;
	text-align: center;
}

#about .about_box #social{
	float: left;
	width: 100%;
	margin: 1%;
}

#about .about_box #social img{
	width: 20px;
	margin: 15px;
}

#about .about_box #social a{
	text-align: center;
	width: 100%;
}

#about .about_box #social img:hover{
	opacity: 0.5;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

#about #about_photo{
	float: right;
	background-image: url(../img/photo_1.jpg);
	width: 300px;
	height: 300px;
	margin-top: 70px;
	margin-bottom: 70px;
	margin-right: 5%;
	background-size: contain;
	border-radius: 50%;
}

#about #about_photo:hover{
	background-image: url(../img/photo_2.jpg);
}

/*EDU_WORK*/
#edu_work *{
	box-sizing: border-box;
}

#edu_work{
	position: relative;
	margin: 0 auto;
}

#edu_work h1{
	font-size: 40px;
	color: #2C4E89;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 40px;
}

#edu_work::after{
	content: "";
    position: absolute;
    width: 6px;
    background-color: #2C4E89;
    top: 145px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.timeline{
	padding: 10px 10px;
	margin: 30px 0px;
    position: relative;
    width: 50%;
}

.timeline::after{
	content: "";
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #0bdead;
    top: 0;
    border-radius: 50%;
    z-index: 1;
}

.left{
	left: 0;
}

.right{
	left: 50%;
}

.content:hover{
	
}

.arrow{
	color: #2C4E89;
	font-weight: bold;
}

.more_info{
	display: none;
}

.left:hover, .right:hover{
	background: #0bdead;
	cursor: pointer;
}

.left:hover .arrow, .right:hover .arrow{
	color: #0bdead;
}

.left:focus .more_info, .right:focus .more_info{
	display: block;
}

.right::after{
	left: -16px;
}

.content{
	text-align: center;
	padding: 10px 10px;
    background-color: #ffffff;
    position: relative;
    border-radius: 6px;
}

.content h3,
.content h4{
	font-size: 18px;
	margin: 10px;
}

.content p{
	font-size: 16px;
}

/*CODING*/
#coding{
	background: #ffffff;
}

#coding #coding_txt{
	text-align: center;
}

#coding h1{
	font-size: 40px;
	color: #2C4E89;
}

#coding a{
	font-weight: bold;
	color: #2C4E89;
	text-decoration: none;
}

#coding a:hover{
	color: #0bdead;
}

#coding #technologies .tech_box{
	float: left;
	width: 21%;
	height: 150px;
	padding: 2%;
	margin-bottom: 40px;
	text-align: center;
}

#coding #technologies .tech_box img{
	width: 70px;
}

#coding #technologies .tech_box p{
	font-size: 14px;
	display: none;
}

#coding #technologies .tech_box:hover{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

#coding #technologies .tech_box:hover p{
	display: block;
}

#coding #technologies .tech_box:hover h4{
	display: none;
}

/*HOBBY*/
#hobby h1{
	font-size: 40px;
	color: #2C4E89;
	text-align: center;
}

#hobby .hobby_box{
	float: left;
	width: 31%;
	padding: 1%;
	text-align: center;
}

#hobby .hobby_box a{
	text-decoration: none;
	display: inline-block;
}


#hobby .hobby_box a:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: opacity 0.3s ease-in-out;
	-moz-transition: opacity 0.3s ease-in-out;
	transition: opacity 0.3s ease-in-out;
}

#hobby .hobby_box a:hover h4{
	visibility: visible;
}

#hobby .hobby_box img{
	width: 70px;
}

#hobby .hobby_box h4{
	margin: 0;
	padding-top: 10px;
	visibility: hidden;
}

#hobby .popup{
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
}

#hobby .popup:target{
	visibility: visible;
	opacity: 1;
}

.popup_content{
	margin: 50px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 10px;
	width: 50%;
	position: relative;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.popup_content h4{
	margin-top: 20px;
}

.popup_content .popup_close{
	position: absolute;
	top: 20px;
	right: 30px;
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.popup_content .popup_close:hover{
	color: #0bdead;
}


.popup_content img{
	width: 50px;
}


.popup_content .popup_txt{
	font-size: 18px;
	max-height: 50%;
	overflow: auto;
}

.popup_content .popup_txt a{
	font-weight: bold;
	color: #2C4E89;
	text-decoration: none;
}

.popup_content .popup_txt a:hover{
	color: #0bdead;
}

.popup_content .popup_txt span{
	font-weight: bold;
	color: #000000;
}

/*FOOTER*/
footer{
	margin-top: 10px;
	background: #000000;
	border-top: #0bdead 5px solid;
}

footer p{
	font-size: 12px;
	margin: 0;
	color: #C9C9C9;
}

footer .footer_div{
	float: left;
	width: 31%;
	margin: 1%;
	text-align: center;
}

footer #footer_copyrights{
	margin-top: 25px;
}

footer #footer_copyrights a{
	text-decoration: none;
}

footer #footer_copyrights span{
	color: #ffffff;
}

footer .footer_div #minilogo{
	width: 90px;
	opacity: 0.4;
}

footer .footer_div #minilogo:hover{
	opacity: 1;
	transform: scale(1.1);
}

footer #footer_social{
	float: left;
	width: 30%;
	margin-top: 20px;
	text-align: center;
}

footer #footer_social img{
	width: 20px;
	margin: 15px;
}

footer #footer_social a{
	text-align: center;
}

footer #footer_social img:hover{
	opacity: 0.5;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	transform: scale(1.3);
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

#back_to_top{
	position: fixed;
	bottom: 1em;
	right: 1em;
}

#back_to_top img{
	width: 40px;
}

#back_to_top:hover{
	opacity: 0.5;
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: opacity 0.2s ease-in-out;
	-moz-transition: opacity 0.2s ease-in-out;
	transition: opacity 0.2s ease-in-out;
}

#back_to_top:focus{
	transform: translateY(3px);
}

/*MEDIA QUERIES*/
@media (max-width: 1150px){
	#coding #technologies .tech_box{
		padding: 0;
		width: 25%;
	}
	#coding #technologies .tech_box img{
	}
}

@media (max-width: 1000px){
	#about .about_box{
		float: none;
		text-align: center;
		width: 100%;
		padding: 0;
		margin: 0;
	}
	
	#about #about_photo,
	#about #about_txt #social{
		float: none;
		text-align: center;
		display: block;
		margin: 0 auto;
	}
	
	#about #about_photo{
		margin-bottom: 20px;
	}
}

@media (max-width: 768px){
	header #home{
		height: 490px;
	}
	
	header #logo,
	header #welcome,
	footer .footer_div{
		float: none;
		text-align: center;
		width: 100%;
		padding: 0;
	}
	
	header #logo img{
		width: 150px;
	}
	
	header #welcome h1,
	#about #about_txt h1,
	#edu_work h1,
	#coding #coding_txt h1,
	#hobby h1{
		font-size: 25px;
	}
	
	header #cv_website{
		display: block;
	}
	
	header #navigation{
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}
	
	header #navigation .nav_box{
		display: inline-block;
		float: none;
		margin: 5px;
	}
	
	header #navigation .nav_box a{
		text-align: center;
	}
	
	header #navigation .nav_box img{
		width: 30px;
	}
	
	header #navigation .nav_box p{
		display: none;
	}
	
	#about .about_box{
		margin: 0;
	}
	
	#about #about_txt p,
	#coding #coding_txt p{
		font-size: 16px;
	}
	
	#about #about_photo{
		width: 200px;
		height: 200px;
		margin-bottom: 20px;
	}
	
	#edu_work::after{
		left: 18.1%;
	}
	
	#edu_work .content{
		width: 80%;
		padding: 20px;
		margin: 0;
	}
	
	.left::after, .right::after {
		left: -15px;
	}
	
	.right,
	.left{
		left: 10%;
		width: 100%;
	}
	
	#coding #technologies .tech_box{
		text-align: center;
		width: 25%;
		padding: 0;
		margin: 0;
		margin-top: 30px;
	}
	
	#coding #technologies .tech_box img,
	#hobby .hobby_box img{
		width: 50px;
	}
	
	#coding #technologies .tech_box h4,
	#coding #technologies .tech_box p,
	#hobby .hobby_box h4{
		margin-top: 5px;
	}
	
	#coding #technologies .tech_box h4,
	#hobby .hobby_box h4{
		font-size: 14px;
	}
	
	#coding #technologies .tech_box p{
		font-size: 12px;
	}
	
	#hobby .hobby_box{
		text-align: center;
		width: 33.3%;
		padding: 0;
		margin: 0;
		margin-top: 20px;
		margin-bottom: 10px;
	}
	
	footer .footer_div{
		margin: 0;
	}
	
	footer #footer_social{
		float: none;
		width: 100%;
		margin: 0;
		text-align: center;
	}
	
	#back_to_top{
	position: fixed;
	bottom: 0.5em;
	right: 0.5em;
	}

	#back_to_top img{
		width: 30px;
	}
}

@media (max-width: 530px){
	#coding #technologies .tech_box,
	#hobby .hobby_box{
		float: none;
		text-align: center;
		width: 50%;
		padding: 0;
		margin: 0 auto;
	}
	
	#hobby .hobby_box{
		margin-bottom: 25px;
	}
	
	#coding #technologies .tech_box img,
	#hobby .hobby_box img{
		width: 70px;
	}
	
	#coding #technologies .tech_box h4,
	#hobby .hobby_box h4{
		font-size: 18px;
	}
}

@media (max-width: 440px){
	header #navigation .nav_box{
		margin: 0;
	}
}